{
  "tagFormat": "${process.env.IMAGE_NAME}-v${version}",
  "commitPaths": "docker-image//${process.env.IMAGE_NAME}/*",
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}